/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
.form-control{
    border: 1px solid #767676;
    height: 40px;
    padding: 6px;
    font-size: 20px;
    color: #000;
}